:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
  background: rgb(245, 242, 254);
}

h1 {
  font-size: 96px;
  text-align: center;
}

h2 {
  font-size: 48px;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0;
  font-size: 15px;
  opacity: 0.7;
}


p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.email-link:hover {
  text-decoration: underline;
}
